
:root{
    --nav-menu-bg: white;
    --nav-menu-text: rgb(224, 36, 36);
    --nav-menu-border: lightgrey;
    --nav-menu-shadow: black;
    --body: white;
    --main-h2-text: darkgrey;
    --main-p-border: blue;
    --card-text: grey;
    --card-text-bg: teal;
    --card-highlight: aqua;
    --footer-text: blue;
}

header {
    position: static;
    height: 200px;
    width: auto;
    margin: -8px -8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url("./images/background-header.jpg");
    background-size: cover;
}

header h1 {
    height: 80%;
}

header ul li {
    display: inline-flex;
    list-style: none;
    border: 1px solid var(--nav-menu-border);
    border-radius: 20px;
    box-shadow: 3px 3px 0px 0px var(--nav-menu-shadow);
    color: var(--nav-menu-text);
    background-color: var(--nav-menu-bg);
    margin-right: 15px;
    padding: 5px;
}

header ul li a:link, a:visited {
    text-decoration: none;
    color: cyan;
}

main {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: space-between;
}

main section {
    display: flex;
    margin: 20px 25px;
}

main section h2 {
    width: 25%;
    height: auto;
    margin: auto;
}

main section p, main section ul {
    width: 75%;
    padding-left: 25px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-left: 3px solid var(--main-p-border);
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0px;
    width: 75%;
    border-left: 3px solid var(--main-p-border);
}

.projectcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
    opacity: .5;
    margin: 5px 0px 0px 25px;
    height: 150px;
    width: 46%;
}

.big {
    margin: 0px 0px 0px 25px;
    height: 300px;
    width: 100%;
}

.cardtext {
    display: block;
    border: none;
    margin: 10px 10px;
    padding: 5px 15px;
    width: auto;
    color: var(--card-text);
    background-color: var(--card-text-bg);
}


/* Set background image information for project cards*/
.img-portfolio{
    background-image: url('./images/portfolio.jpg'); 
}

.img-horiseon{
    background-image: url('./images/portfolio.jpg'); 
}

.img-camera{
    background-image: url('./images/portfolio.jpg'); 
}

.img-glow{
    background-image: url('./images/glow.jpg'); 
}

.img-primes{
    background-image: url('./images/portfolio.jpg'); 
}